$h1-margin-bottom: 20px !default;

.content {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > .secondary-heading {
    margin-right: $examples-width;
    padding: 0 $main-padding;
    box-sizing: border-box;
    display: block;

    @extend %left-col;
  }

  & > h1,
  & > h2 {
    clear: both;
  }

  h1 {
    @extend %header-font;
    border-top: 1px solid $color-border;
    font-size: 25px;

    margin-top: 2em;
    margin-bottom: $h1-margin-bottom;
    margin-right: 16px;
    margin-left: 16px;

    padding-top: 24px;
    padding-bottom: 12px;
    padding-left: 12px;
  }

  h1:first-child,
  div:first-child + h1 {
    border-top-width: 0;
    margin-top: 0;
  }

  h2 {
    @extend %header-font;
    border-top: 1px solid $color-border;
    font-size: 19px;

    margin-top: 4em;
    margin-bottom: 0;
    margin-right: 16px;
    margin-left: 16px;

    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 12px;
  }

  // h2s right after h1s should bump right up
  // against the h1s.
  h1 + h2,
  h1 + div + h2 {
    margin-top: $h1-margin-bottom * -1;
    border-top: none;
  }

  h3,
  h4,
  h5,
  h6 {
    @extend %header-font;
    font-size: 15px;
    margin-top: 2.5em;
    margin-bottom: 0.8em;
  }

  h4,
  h5,
  h6 {
    font-size: 10px;
  }

  .secondary-heading {
    @extend %header-font;
    font-size: 23px;

    margin-top: 0;
    margin-bottom: $h1-margin-bottom;
    margin-right: 16px;
    margin-left: 16px;

    padding-top: 0;
    padding-bottom: 12px;
    padding-left: 12px;
  }
}
