.content {
  blockquote {
    color: $color-white;

    margin: 0;
    margin-right: 1%;
    width: $code-block-width;

    float: right;
    clear: right;

    box-sizing: border-box;

    @extend %right-col;

    & > p {
      background-color: $color-white;
      color: $color-main;
      margin: 0;
      padding: $code-annotation-padding 2em;
    }

    a {
      color: $color-flip-orange;
      font-weight: 700;
      text-decoration: none;
    }

    table {
      margin: 0;
      margin-top: -20px;
      width: 100%;
    }
  }
}
