/*
* Notes from Slate Author:
* The dark box is what gives the code samples their dark background.
* It sits essentially under the actual content block, which has a transparent background.
* I know, it's hackish, but it's the simplist way to make the left half of the content always this background color.
*/
.page-wrapper {
  .dark-box {
    width: $examples-width;
    background-color: $color-white;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

@media (max-width: $phone-width) {
  .dark-box {
    display: none;
  }
}
