$color-main: #222223;
$color-secondary: #747474;
$color-disabled: #aaabad;
$color-border: #e3e3e4;
$color-container: #f3f5f6;
$color-white: #ffffff;

$color-flip-orange-dark-2: #7e3221;
$color-flip-orange-dark-1: #d35437;
$color-flip-orange: #fd6542;
$color-flip-orange-light-1: #fe9881;
$color-flip-orange-light-2: #fec1b3;
$color-flip-orange-light-3: #fff5f3;

$color-golden-yellow-dark-2: #543d07;
$color-golden-yellow-dark-1: #a87a0d;
$color-golden-yellow: #ffb207;
$color-golden-yellow-light-1: #fdcf62;
$color-golden-yellow-light-2: #fee7b1;
$color-golden-yellow-light-3: #fdf6dc;

$color-crimson-red-dark-2: #8a1a38;
$color-crimson-red-dark-1: #c61f4d;
$color-crimson-red: #ee255c;
$color-crimson-red-light-1: #f46e92;
$color-crimson-red-light-2: #f9b6c9;
$color-crimson-red-light-3: #fde9ef;

$color-jade-green-dark-2: #236057;
$color-jade-green-dark-1: #2f7f74;
$color-jade-green: #46bfae;
$color-jade-green-light-1: #84d4c9;
$color-jade-green-light-2: #c1eae4;
$color-jade-green-light-3: #daf2ef;

$color-sapphire-blue-dark-2: #1d2d44;
$color-sapphire-blue-dark-1: #3a5988;
$color-sapphire-blue: #5786cc;
$color-sapphire-blue-light-1: #8faedd;
$color-sapphire-blue-light-2: #c7d7ee;
$color-sapphire-blue-light-3: #dde7f5;

$color-mauve-purple-dark-2: #3b0a2d;
$color-mauve-purple-dark-1: #75135b;
$color-mauve-purple: #b01d88;
$color-mauve-purple-light-1: #ca68b0;
$color-mauve-purple-light-2: #e5b4d7;
$color-mauve-purple-light-3: #efd2e7;
